 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <a class="navbar-item" href="{{ url_for('main.index') }}">На главную</a>

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.profile') }}" class="navbar-item">Профиль</a>
            {% endif %}

               {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">Войти</a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">Зарегистрироваться</a>
              {% endif %}


              {% if current_user.is_authenticated %}
              <a href="{{ url_for('auth.logout') }}" class="navbar-item">Выйти</a>
              {% endif %}

        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">Поиск</div>
                    <div class="navbar-dropdown is-right">
                        <input type="text"onkeyup="liveSearch(this.value)"> <!-- Assigns the key up event to call the liveSearch() function -->
                            <div id="results"></div> <!-- Results will be printed here -->
                        </input>
                    </div>
            </div>
         </div>
      </div>
    </nav>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

</body>

<style>
        div.hov {
        }

        div.hov:hover {
            background: hsl(171, 100%, 41%); /* Путь к файлу с заменяемым рисунком  */
        }
    </style>

	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    function liveSearch(value){
        value = value.trim(); // remove any spaces around the text
        if(value !== ""){ // don't make requests with an empty string
            $.ajax({
                url: "/search",
                data: {searchText: value},
                dataType: "json",
                success: function(data){
                    var res = "";
                    // create the html with results
                    for(i in data.results){

                        var floor = data.results[i]["room"][0];
                        var room = data.results[i]["room"];

                        if (data.results[i]["place_num"] !== "") {
                            if (data.results[i]["place_num"] !== "-1") {
                                var link = "/room/" + data.results[i]["room"] + "/" + data.results[i]["place_num"] + "#notify";
                                res += "<div class = \"hov\"><a href=" + link + ">" + data.results[i]["name"] + " " +
                                    data.results[i]["surname"] + "</a></div>";
                            } else {
                                var link = "/floor" + floor + "/" + data.results[i]["room"] + "#notify";
                                res += "<div class = \"hov\"><a  href=" + link + ">" + data.results[i]["name"] + " " +
                                    data.results[i]["surname"] + "</a></div>";
                                }
                        } else {
                            var link = "/floor" + floor + "/" + data.results[i]["room"] + "#notify";
                            res += "<div class = \"hov\"><a href=" + link + ">" + data.results[i]["name"] + " " +
                                data.results[i]["type"] + "</a></div>";
                        }
                    }
                    $("#results").html(res);
                }

            });
        }
        else{
            $("#results").html(""); // set the results empty in case of empty string
        }
    }
</script>

<script>
    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function($el) {
        $el.addEventListener('click', function() {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
</script></html>
