{% extends "base.html" %}

{% block content %}

    <h1 class="title">
        Этаж 1
    </h1>
    <div class="map_image">

        <img src="..\static\colored_places\{{ name }}.svg" alt="floor_3"/>

    </div>

    <a href="/floor3" class="overlay" id="notify"></a>
    <div class="notification popup is-primary is-light" style="margin-top: 5%">
        <div><b>{{ full_name }}</b></div>
        {% for line in text %}
            <div>{{ line }}</div>
        {% endfor %}

        {% if name > "300" %}
            {% if name < "307" %}
               <br>
                <a href="/room/{{ name }}">
                    <button class="button is-white"> перейти в комнату </button>
                </a>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}