{% extends "base.html" %}

{% block content %}

    <h1 class="title">
        Этаж 1
    </h1>

    <div class="map_image">

        <img src="..\static\colored_places\{{ name }}.svg" alt="floor_1"/>

    </div>

    <a href="/floor1" class="overlay" id="notify"></a>
    <div class="notification popup is-primary is-light" style="margin-top: 5%">
        <a href="/floor1/{{ name }}" title="Поделиться комнатой"><b>{{ full_name }}</b></a>
        {% for line in text %}
            {% if line == "подняться" %}
                <br><br>
                <a href="/floor3">
                    <button class="button is-white">{{ line }}</button>
                </a>
            {% elif line != "подняться" %}
                <div>{{ line }}</div>
            {% endif %}
        {% endfor %}

        {% if name > "104" %}
            {% if name < "109" %}
                <br>
                <a href="/room/{{ name }}">
                    <button class="button is-white">перейти в комнату</button>
                </a>
            {% endif %}
        {% endif %}
        {% if name2 != None %}
        <br><br><br>
        <a href="/floor1/{{ name2 }}" title="Поделиться комнатой"><b>{{ full_name2 }}</b></a>
        {% for line in text2 %}
            {% if line == "подняться" %}
                <br><br>
                <a href="/floor3">
                    <button class="button is-white">{{ line }}</button>
                </a>
            {% elif line != "подняться" %}
                <div>{{ line }}</div>
            {% endif %}
        {% endfor %}

        {% if name > "104" %}
            {% if name < "109" %}
                <br>
                <a href="/room/{{ name2 }}">
                    <button class="button is-white">перейти в комнату</button>
                </a>
            {% endif %}
        {% endif %}
        {% endif %}
    </div>

{% endblock %}