{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Floor 1
</h1>

{#<figure class="map_image">#}
{#  <img src="..\static\1_floor.svg" alt="floor_1" usemap="#floor_1">#}
{#</figure>#}
{##}
{#<map name="floor_1">#}
{#  <area target="" alt="" title="" href="" coords="348,245,774,653" shape="rect">#}
{#</map>#}


<div class="map_image">
  <img src="..\static\1_floor.svg" alt="floor_1" />
  <a href="http://127.0.0.1:5000/floor3" style="top: 8.28%; left: 23.8%; width: 27.7%; height: 13%;"></a>
</div>

{% endblock %}

238,169,515,434
1000x2040