{% extends "base.html" %}

{% block content %}

<div class="buttons is-fullwidth is-centered">
    <a href="/floor{{floor}}">
            <button class="button is-primary is-large">на этаж</button>
    </a>
    <a href="/room/{{name}}">
        <button class="button is-primary is-inverted is-outlined is-large"> {{name}}</button>
    </a>
    <a href="/antresol/{{name}}">
        <button class="button is-primary is-large"> {{name}}А</button>
    </a>
</div>

<div class="map_image">


    <img src="..\static\106.svg" alt="room" width="60%"/>

    <style>
        a.hov {
        }

        a.hov:hover {
            opacity: 0.4;
            background: #00b2b4; /* Путь к файлу с заменяемым рисунком  */
        }
    </style>


    <a href="/room/{{name}}/1" class="hov"
       style="top: 50.625%; left: 26.099999999999998%; width: 3.5999999999999996%; height: 7.875%;"></a>
    <a href="/room/{{name}}/2" class="hov"
       style="top: 34.125%; left: 26.099999999999998%; width: 3.4999999999999996%; height: 7.75%;"></a>
    <a href="/room/{{name}}/3" class="hov"
       style="top: 18.0%; left: 26.099999999999998%; width: 3.5999999999999996%; height: 7.75%;"></a>
    <a href="/room/{{name}}/4" class="hov"
       style="top: 17.875%; left: 38.800000000000004%; width: 3.7%; height: 7.875%;"></a>
    <a href="/room/{{name}}/9" class="hov" style="top: 17.25%; left: 56.8%; width: 3.7%; height: 8.0%;"></a>
    <a href="/room/{{name}}/10" class="hov"
       style="top: 17.375%; left: 69.7%; width: 3.5999999999999996%; height: 8.0%;"></a>
    <a href="/room/{{name}}/8" class="hov"
       style="top: 33.625%; left: 56.9%; width: 3.5999999999999996%; height: 7.875%;"></a>
    <a href="/room/{{name}}/5" class="hov"
       style="top: 33.5%; left: 38.800000000000004%; width: 3.4999999999999996%; height: 8.125%;"></a>
    <a href="/room/{{name}}/6" class="hov"
       style="top: 50.24999999999999%; left: 38.7%; width: 3.8000000000000003%; height: 8.0%;"></a>
    <a href="/room/{{name}}/7" class="hov"
       style="top: 50.24999999999999%; left: 57.0%; width: 3.4999999999999996%; height: 8.0%;"></a>
    <a href="/room/{{name}}/12" class="hov"
       style="top: 49.8%; left: 69.7%; width: 3.5999999999999996%; height: 8.0%;"></a>
    <a href="/room/{{name}}/10" class="hov" style="top: 33.05%; left: 69.5%; width: 3.7%; height: 7.875%;"></a>


    <a href="room/лестница" style="top: 63.04999999999999%; left: 22.1%; width: 9.3%; height: 24.0%;"></a>
    <a href="room/лестница" style="top: 63.04999999999999%; left: 69%; width: 9.3%; height: 24.0%;"></a>
</div>


{% if number %}
<a href="#" class="overlay" id="place{{number}}"></a>
<div class="notification popup is-primary is-light" style="margin-top: 5%">
    <div><b>Комната {{name}} {{ type }}</b></div>
    <div><b>Место {{number}}</b></div>
    {% for line in text %}
    <div>{{ line }}</div>
    {% endfor %}
    <!--        {{text}}-->
</div>
{% endif %}

{% endblock %}