{% extends "base.html" %}

{% block content %}

<h1 class="title"></h1>

  <div class="buttons is-fullwidth is-centered">
    <a href="/room/{{name}}"><button class="button is-primary is-inverted is-outlined is-large"> {{name}}</button></a>
    <a href="/antresol/{{name}}"><button class="button is-primary is-large"> {{name}}А </button></a>
  </div>

    <div class="map_image">
        <img src="..\static\106.svg" alt="room" width="60%"/>
        <a href="#place1"
           style="top: 50.625%; left: 26.099999999999998%; width: 3.5999999999999996%; height: 7.875%;"></a>
        <a href="#place2"
           style="top: 34.125%; left: 26.099999999999998%; width: 3.4999999999999996%; height: 7.75%;"></a>
        <a href="#place3"
           style="top: 18.0%; left: 26.099999999999998%; width: 3.5999999999999996%; height: 7.75%;"></a>
        <a href="#place4" style="top: 17.875%; left: 38.800000000000004%; width: 3.7%; height: 7.875%;"></a>
        <a href="#place9" style="top: 17.25%; left: 56.8%; width: 3.7%; height: 8.0%;"></a>
        <a href="#place10"
           style="top: 17.375%; left: 69.7%; width: 3.5999999999999996%; height: 8.0%;"></a>
        <a href="#place8"
           style="top: 33.625%; left: 56.9%; width: 3.5999999999999996%; height: 7.875%;"></a>
        <a href="#place5"
           style="top: 33.5%; left: 38.800000000000004%; width: 3.4999999999999996%; height: 8.125%;"></a>
        <a href="#place6"
           style="top: 50.24999999999999%; left: 38.7%; width: 3.8000000000000003%; height: 8.0%;"></a>
        <a href="#place7"
           style="top: 50.24999999999999%; left: 57.0%; width: 3.4999999999999996%; height: 8.0%;"></a>
        <a href="#place12" style="top: 50.0%; left: 69.7%; width: 3.5999999999999996%; height: 8.0%;"></a>
        <a href="#place10" style="top: 33.25%; left: 69.5%; width: 3.7%; height: 7.875%;"></a>
        <a href="room/лестница" style="top: 63.24999999999999%; left: 22.1%; width: 56.2%; height: 24.0%;"></a>
    </div>

    <a href="#" class="overlay" id="place1"></a>
    <div class="notification popup is-primary is-light">
        Здесь вы можете разместить любое содержание, текст с картинками или видео!
        <a class="close" title="Закрыть" href="#"><button class="delete"></button></a>
    </div>



{% endblock %}