{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Персональные данные</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/settings">


            {% if not current_user.name %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Имя" autofocus="">
                </div>
            </div>
            {% endif %}

            {% if not current_user.surname %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="surname" placeholder="Фамилия" autofocus="">
                </div>
            </div>
            {% endif %}

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="room_num" placeholder="Номер кабинета" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="place_num" placeholder="Номер места" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}